body {
  background-color: whitesmoke;
}

.post {
  display: flex;
  background-color: red;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px;
  justify-content: space-between;
}
